.order-page {
  display: grid;
  grid-template-rows: 0.5fr 9fr;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.09);
}

.order-page__main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.order-page__title {
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-button {
  display: flex;
  height: 5vh;
  width: 10vw;
  background-color: rgb(164, 230, 150);
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1rem;
  top: 0rem;
  border-radius: 15px 15px 15px 15px;
  outline: none;
  cursor: pointer;
  transition: background-color ease 0.5s;
}

.back-button:hover {
  background-color: rgb(107, 249, 102);
  transition: background-color ease 0.5s;
}

.order-page__cart {
  width: 70vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-page__billing {
  width: 29vw;
  height: 95%;
  display: flex;
  justify-content: center;
}
