.menu {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 9fr 0.5fr;
  align-items: center;
}

.menu__side {
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
}

.menu__side-right-arrow {
  width: 50px;
  height: 100px;
  color: rgba(255, 255, 255, 1);
  margin: 0px 0.5rem;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-position: center center;
  background-image: url('../../assets/static/icons/IconPaginationRight.svg');
  cursor: pointer;
  transition: transform 1s;
}
.menu__side-right-arrow:hover {
  transform: scale(1.2);
  transition: transform 1s;
}

.menu__side-left-arrow {
  width: 50px;
  height: 100px;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  margin: 0px 0.5rem;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-position: center center;
  background-image: url('../../assets/static/icons/IconPaginationLeft.svg');
  cursor: pointer;
  transition: transform 1s;
}
.menu__side-left-arrow:hover {
  transform: scale(1.2);
  transition: transform 1s;
}

.menu__content {
  position: relative;
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-rows: 9fr;
  align-items: center;
}

.menu__title {
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);
}

.menu__slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  border-radius: 7rem;
  align-items: center;
}

.menu__list {
  list-style: none;
  display: flex;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

.menu__list--item {
  margin: 1rem;
}

.menu__slider::-webkit-scrollbar {
  display: none;
}
