.shopping-bar__list-item:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.815);
}

.shopping-bar__list-item:nth-child(even) {
  background-color: rgba(241, 241, 241, 0.828);
}

.shopping-bar__list-item {
  width: 98%;
  height: 9vh;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  margin: 0.4rem;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.1rem 0.3rem 0.005rem black;
}

.shopping-bar__list-item:hover {
  transform: scale(1.008);
}

.list-item__name,
.list-item__price {
  text-transform: capitalize;
  text-shadow: 1px 1px 10px black;
}

.remove-icon {
  width: 2rem;
  height: 2rem;
  background-image: url('../../assets/static/icons/remove-from-cart.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.remove-icon:hover {
  transform: scale(1.5);
}
