.shopping-bar {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.883);
  align-content: center;
  align-items: center;
  position: relative;
}

.shopping-bar__cart {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/static/icons/shopping-cart-full.png');
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: center center;
  margin-left: 0.5rem;
}

.cart-badge {
  width: auto;
  min-width: 1rem;
  height: auto;
  background-color: rgb(250, 250, 250);
  border: solid 0.4rem rgb(255, 255, 255);
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  position: relative;
  top: -0.1rem;
  right: -0.4rem;
  box-shadow: 0px 0px 10px 2px black;
}

.shopping-bar__item-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: black;
}

.shopping-bar__total-amount {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: black;
  border-radius: 0.2rem;
  box-shadow: 0rem 0rem 10rem 1rem rgba(82, 82, 82, 0.602);
}

.total-amount__title {
  width: 100%;
  height: 20%;
  margin-top: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.total-amount__price {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  box-shadow: inset 0rem 0rem 0.4rem 0.21rem rgba(170, 170, 170, 0.602);
}

.shopping-bar__payment {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.shopping-bar__payment-button {
  width: 90%;
  height: 90%;
  align-self: center;
  box-shadow: 0rem 0.9rem 0.56rem -0.5rem #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #7bdd4a 100%);
  background-color: #77b55a;
  border-radius: 0.8rem;
  border: 0.1rem solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: bold;
  /* padding: 1.5rem 0.63rem; */
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0rem #5b8a3c;
  text-transform: capitalize;
}

.shopping-bar__payment-button:hover {
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color: #72b352;
}

.shopping-bar__payment-button:active {
  transform: scale(0.9);
}

.block-link {
  width: 100%;
  height: 100%;
  display: flex;
}
