.header {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header__nav {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr;
  align-items: center;
}

.nav__title {
  display: inline-flex;
  justify-self: flex-start;
}

.nav__item {
  display: inline-flex;
  margin: 1rem;
  background-color: rgb(168, 185, 192);
  justify-content: center;
}
