.coin-selector {
  width: 6rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  align-items: center;
  justify-content: space-evenly;
}

.coin-logo {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 1s;
}

.coin-logo-eur {
  background-image: url('../../assets/static/icons/icon-eur.png');
  transition: background-image 1s;
}

.coin-logo-usd {
  background-image: url('../../assets/static/icons/icon-usd.png');
  transition: background-image 1s;
}

.coin-logo:hover {
  transform: scale(1.3);
  transition: transform 1s;
}

.coin-description {
  width: 3rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.coin-description__radio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: font-size 0.4s;
}

.coin-description__radio:hover {
  font-size: 120%;
  font-weight: 900;
  cursor: pointer;
  transition: font-size 0.4s;
}

.coin-description__radio label,
input {
  cursor: pointer;
}
