.login-area {
  width: auto;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  align-items: center;
}

.icon-wrapper {
  position: relative;
  width: 3rem;
  height: 3rem;
  max-width: 3rem;
  max-height: 3rem;
  display: flex;
  align-content: center;
  align-items: center;
}

.icon-login {
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 50%;
  transition: width 1s, height 1s, max-width 1s, max-height 1s;
}

.icon-login:hover {
  width: 110%;
  height: 110%;
  max-width: 110%;
  max-height: 110%;
  transition: width 1s, height 1s, max-width 1s, max-height 1s;
}

.login-description {
  width: 100%;
  min-width: 5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.login-description__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0.5rem;
  transition: font-size 0.4s;
}

.login-description__item:hover {
  font-size: 120%;
  font-weight: 900;
  cursor: pointer;
}
.login-dialog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: rgba(78, 76, 76, 0.288);
  backdrop-filter: blur(10px);
}

.notification {
  position: absolute;
  top: 50px;
  right: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 2rem;
  padding: 0.5rem 1rem;
  background-color: rgba(37, 240, 125, 0.95);
  border-radius: 10px;
  color: black;
  font-size: 1.4rem;
  animation: jello-horizontal 2s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
