.login-area {
  width: auto;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  align-items: center;
}

.icon-wrapper {
  width: 3rem;
  height: 3rem;
  max-width: 3rem;
  max-height: 3rem;
  display: flex;
  align-content: center;
  align-items: center;
}

.icon-login {
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 50%;
}

.login-description {
  width: 100%;
  min-width: 5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.login-description__item span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0.5rem;
}

.login-description__item:hover {
  font-size: 120%;
  font-weight: 900;
  cursor: pointer;
}
.login-dialog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: rgba(78, 76, 76, 0.288);
  backdrop-filter: blur(10px);
}
